@font-face { /* Personnal font Lucida grande*/
    font-family: 'Lucida Grande';
    src: url('../fonts/lucida-grande.eot');
    src: url('../fonts/lucida-grande.ttf') format('truetype'),
         url ('../fonts/lucida-grande.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lucida-grande.woff') format('woff');
    
}
class *="col" { margin-bottom : 20px ; } 

body {
    /*margin-top: 10px;*/
    margin: auto;
    font-family: 'Lucida Grande', serif;
    font-size: 16px;
    background: url('../img/background.jpg') no-repeat scroll;
} 
.jumbotron {
    background: url('../img/bg-banner.jpg');
   
}
.jumbotron h1 {

}
#title{
    margin-top: 150px;
    color: white;
}
li {
    /*list-style-type: none;
    border-bottom: 1px solid cyan;*/
    color: inherit;
    list-style-image: url(../img/puce_perso.png)
    
}
nav {
   /* background-image: url('../background.png');*/
    
}
.navbar, hr {
    width: 200px;
    box-shadow: 2px 2px #1c96c9;
}
ul {
    /*margin-left: -50px;
    font-size: 1.7em;*/
    
}

a:hover {font-weight: bold;}

img {
    height: 100%;
    width: 100%;
    
}
.item {
    height: 400px;
}

hr{
    position: absolute;
    right: -1px;
    
}
footer {
    margin-top: 20px;
}